<!DOCTYPE html>
<html>
	<head>
		<title>Homepage</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/all.css') }}">
	</head>
	<body>
		<header class="header">

            <div class="header__text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary--main">Meeting Recaller</span>
                    <span class="heading-primary--sub">Bring the point to Mind</span>
                </h1>
                
            	<form id="upload-form" action="{{ url_for('result') }}" method="POST" enctype="multipart/form-data">
					<input id="picker" type="file" name="file" class="btn btn--white btn--animated">
					<input id="upload-button" type="submit" value="upload" class="btn btn--white btn--animated">
				</form>
            </div>
        </header>
	</body>
</html>