<!DOCTYPE html>
<html>
	<head>
		<title>Result</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- wordcloud2 open source: "https://github.com/timdream/wordcloud" -->
		<script type=text/javascript src="{{ url_for('static', filename='wordcloud2.js') }}"></script>

		<link rel=stylesheet type=text/css src="{{ url_for('static', filename='css/all.css') }}">

	</head>
	<body>
		<main>
			<section class="section-features">
                <h1 class="heading-primary">
                    <span class="heading-primary--main header__text-box">{{fname|safe}}</span>
                </h1>
                <div class="row">
                    <div class="col-2-of-3">
                        <div class="feature-box">
                            <i class="feature-box__icon icon-basic-world"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">Extraction Keyword</h3>
                            <p class="feature-box__text">
                                <div id="canvas2" class="canvas" width="800px" height="600px" ></div>
                                <canvas id="canvas" class="canvas" width="800px" height="600px" style="display:none;"></canvas>
                            </p>
                        </div>
                    </div>

                    <div class="col-1-of-3">
                        <div class="feature-box">
                            <i class="feature-box__icon icon-basic-compass"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">Meeting conversation</h3>
                            <p class="feature-box__text">
                               <div>{{org_text|safe}}</div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="u-center-text u-margin-top-huge">
                    <a href="{{ url_for('index') }}" class="btn btn--white">Back</a>
                </div>
			</section>
		</main>
		
		<script>
			var isSup = WordCloud.isSupported;
			var $cloud1 = $('#canvas');
			var $cloud2 = $('#canvas2');

			// set options for WordCloud2
			var options = {};
			// weightFactor: function to call or number to multiply for size of each word in the list.
			options.weightFactor = 2;
			// options.backgroundColor = "#C1FCFF"
			// list: List of words/text to paint on the canvas in a 2-d array, in the form of [word, size], e.g. [['foo', 12], ['bar', 6]].
			options.list = {{ mapping|safe }};

			WordCloud([$cloud1[0], $cloud2[0]], options );
		</script>
	</body>
</html>